:root{
    font-family: 'quicksand','san-serif';
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-color:#ffffff;

}
body{
    margin: 0 !important;
    background-color: white;
    border: 1px solid #eee;
}

.page-container{
margin-bottom: 100px;
}
.nav{


}
nav{
    display: flex;
    background-color: #222222;
    flex-direction: row;
    justify-content: space-between;


}
nav .logo {
    display: flex;
    align-items: center;
    
}
nav .logo img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 8px;
}

nav .logo .title{
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 24px;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
nav ul li:hover{
    background-color: #222222;
}
nav ul li{
    background-color: #333333;
    padding: 22px 44px;
    color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li.active{
    background-color: #222222;
}

/* Tablets */

@media all and (max-width:800px) {
    nav{
    justify-content: flex-start;
    }
    nav ul{
        justify-content: space-between;
        
    }
    
}
/* Phones */
@media all and (max-width:600px){
    nav{
        align-items: center;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }
    nav ul li{
        text-align: center;
    }
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 450px;
    background-color: #333333;
    background-image: url(https://source.unsplash.com/random/?noodles);
    background-size: cover;
    
}
.banner .heading{
    flex: 1;
    color: white;
    font-weight: bold;
    font-size: 3em;
}
.banner .heading small{
    font-size: 24px;
}
.maintext{
    padding: 20px;
    font-size: 18px;
}
.subtext{
    display: flex;
}
.subtext div{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.subtext .red{
    background-color: #ff6363;
}
.subtext .yellow{
    background-color: #f0a500;
}
.subtext .green{
    background-color: #1eb2a6;
}
.quote{
    background-color: #eeeeee;
    padding: 50px;
    font-style: italic;
    display: block;
    text-align: center;

}
.quote::before{
    content: open-quote;
    display: inline-block;
    font-size: 32px;
    color: #d3d3d3;
}
.quote::after{
    content: close-quote;
    display: inline-block;
    font-size: 32px;
    color: #d3d3d3;
}
h3.title{
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
    margin: 6px;
    padding: 12px;
    font-size: 24px;
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.project {
    flex-basis: 325px;
    padding: 20px;;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #d3d3d3;
    box-sizing: border-box;
} 
.project h4{
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
    margin: 6px;
    padding: 12px;
    font-size: 24px;
}
.project img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out 0s;
}
.project img:hover{
    transform: scale(0.95);
    opacity: 0.5;
}
.project p{
    padding: 0px 12px;
}
button{
    width: 100%;
    padding: 12px 20px;
    font-size: 12px;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
}
button:hover{
    background-color: #45a049;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222222;
    color: white;
    padding: 24px;
    text-align: center;
    
}